.notification {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 15px;
  right: -100%;
  z-index: 1000;
  background-color: var(--color-notification);
  color: var(--color-text-reverse);
  box-shadow: 0 0 2px 1px var(--color-notification);
  border-radius: 15px;
  transition: .7s;
}

.notification_active {
  right: 20px;
}

.notification__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px 7px 10px;
  box-sizing: border-box;
}

.notification__close {
  display: block;
  width: 17px;
  height: 17px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.notification__close::after, .notification__close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: var(--color-page);
  transform: translate(-50%) rotate(45deg);
}
.notification__close::before {
  content: '';
  transform: translate(-50%) rotate(-45deg);
}

.notification__type {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.notification__type_error {
  background: var(--color-error);
  box-shadow: 0 0 3px 1px var(--color-error);
}

.notification__type_success {
  background: var(--color-success);
  box-shadow: 0 0 3px 1px var(--color-success);
}

.notification__title {
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.notification__title_error {
  color: var(--color-error);
}
.notification__title_success {
  color: var(--color-success);
}

.notification__message {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.notification__message:not(:last-child) {
  margin-bottom: 3px;
}
.notification__message_error {
  color: var(--color-error);
}
.notification__message_success {
  color: var(--color-success);
}

@media(max-width: 600px) {
  .notification {
    top: 30px;
    max-width: 280px;
  }
}
