:root {
  /* Плавный скрол по якорю */
  scroll-behavior: smooth;
}

#dark {
  --color-page: #202020;
  --color-subpage: #272727;
  --color-default-text: #fff;
  --color-default-text-reverse: #000;
  --color-notification: #fff;
  --color-notification-text: #000;
  --color-search-block: #2F2F2F;
  --color-line-title: #DADADA;
  --color-border: #424242;
  --color-movie-card: #222222;
  --color-like: #EE3465;
  --color-error: #EE3465;
  --color-success: #3DDC84;
  --color-logo-wrapper: #3DDC84;
  --color-set-theme-one: #3DDC84;
  --color-set-theme-two: #4285F4;
  --color-set-theme-three: #303030;
}

#light {
  --color-page: #fff;
  --color-subpage: #F5F5F5;
  --color-default-text: #000;
  --color-default-text-reverse: #fff;
  --color-notification: #272727;
  --color-notification-text: #fff;
  --color-search-block: #F9F9F9;
  --color-line-title: #000;
  --color-border: #E8E8E8;
  --color-movie-card: #FDFDFD;
  --color-like: #EE3465;
  --color-error: #EE3465;
  --color-success: #3DDC84;
  --color-logo-wrapper: #3DDC84;
  --color-set-theme-one: #2BE080;
  --color-set-theme-two: #3456F3;
  --color-set-theme-three: #E8E8E8;
}

/* body */
body {
  background: var(--color-page);
}

/* App */
.app {
  /* Основные настройки страницы */
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    color: var(--color-default-text);
    background: var(--color-page);
  /* Настройка основного шрифта */
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* menu active = no scroll*/
.no-scroll {
  overflow: hidden;
}

/* container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

/* link */
.link {
  color: var(--color-default-text);
  text-decoration: none;
}

/* hover */
.hover {
  opacity: 1;
  transition: opacity .3s;
  cursor: pointer;
}
.hover:hover {
  opacity: .7;
}

/* link active */
.link-active {
  position: relative;
  font-weight: 500;
}
@media(max-width: 768px) {
  .link-active::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-default-text);
  }
}
