.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 396px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  box-sizing: border-box;
}

.register__title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.208;
}

.register__form {
  flex-grow: 1;
}

.register__form .input-group:not(:last-of-type) {
  margin-bottom: 8px;
}

.register__button {
  margin-top: auto;
}

.register__footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 16px auto 0;
  line-height: 1.2;
}

.register__link {
  color: #4285F4;
}

@media(max-width: 426px) {
  .register {
    align-items: center;
    padding: 7vh 30px 4vh;
  }

  .register__title {
    margin: 50px auto 80px;
  }

  .register__footer {
    font-size: 12px;
    line-height: 1.25;
  }
}
