.article {
  width: 100%;
}

.article__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.article__text {
  margin: 26px 0 0;
  line-height: 1.428;
}

@media(max-width: 769px) {
  .article__text {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media(max-width: 426px) {
  .article__title {
    font-size: 17px;
  }

  .article__text {
    margin: 18px 0 0;
    font-size: 11px;
  }
}
